<% layout('/layouts/boilerplate')%>
<body>
    <div class="row">
        <div class="col-8 offset-2" >
            <form method="post" novalidate class=" needs-validation" action="/listings" enctype="multipart/form-data">
                <h2 class="mt-3">Create a new Listing</h2>
                <div  class="mb-3">
                    <label class="form-lable" for="title" for="title">Title :</label>
                    <input type="text" name="listing[title]" id="title" placeholder="Add a catchy title" class="form-control" required>
                    <div class="valid-feedback">Looks Good Title!</div>
                </div>
                <div  class="mb-3">
                    <label class="form-lable" for="description"> Description :</label>
                    <textarea name="listing[description]" id="description" class="form-control" required></textarea>
                    <div class="invalid-feedback">required a short Description</div>
                </div>
                <div  class="mb-3">
                    <label class="form-lable" for="image">Uplode listing image:</label>
                    <input type="file" id="image" name="listing[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div  class="mb-3 col-md-4">
                        <label class="form-lable" for="price">Price :</label>
                        <input  id="price" placeholder="1200" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Price shoud be required</div>
                    </div>
                  
                    <div  class="mb-3 col-md-8">
                        <label class="form-lable"  for="country">Country :</label>
                        <input type="text" placeholder="India" id="country" name="listing[country]" class="form-control" required>
                        <div class="invalid-feedback">Country shoud be valid</div>
                    </div>
                </div>
               
                <div  class="mb-3">
                    <label class="form-lable"  for="location">Location :</label>
                    <input type="text" placeholder="Jaipur, Rajasthan" id="location" name="listing[location]" class="form-control" required>
                    <div class="invalid-feedback">Location shoud be valid</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-dark add-btn mt-3">Create</button>
                </div>
           
            </form>
        </div>
    </div>
    
</body>